name: Data Tests
on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

env:
  SINK_BUCKET: ${{ secrets.SINK_BUCKET || vars.SINK_BUCKET }}
  LAKE_BUCKET: ${{ secrets.LAKE_BUCKET || vars.LAKE_BUCKET }}
  S3_ENDPOINT: ${{ secrets.S3_ENDPOINT || vars.S3_ENDPOINT }}
  S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
  S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
  S3_REGION: ${{ secrets.S3_REGION || vars.S3_REGION }}

jobs:
  data-tests:
    name: Test data integrity
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        stream:
          [
            "charges",
            "officers",
            "persons-with-significant-control",
            "persons-with-significant-control-statements",
            "filings",
            "companies",
            "insolvency-cases",
            "company-exemptions",
            "disqualified-officers",
          ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - run: bun verification.ts ${{ matrix.stream }}
        working-directory: lakehouse
