name: Export snapshots events only
on:
  workflow_dispatch:
    inputs:
      stream:
        required: true
        type: choice
        options: [ 'charges', 'officers', 'persons-with-significant-control', 'persons-with-significant-control-statements', 'filings', 'companies', 'insolvency-cases', 'company-exemptions', 'disqualified-officers' ]
        description: Specify which stream to export a snapshot of

env:
  SINK_BUCKET: ${{ secrets.SINK_BUCKET || vars.SINK_BUCKET }}
  SNAPSHOT_BUCKET: ${{ secrets.SNAPSHOT_BUCKET || vars.SNAPSHOT_BUCKET }}
  LAKE_BUCKET: ${{ secrets.LAKE_BUCKET || vars.LAKE_BUCKET }}
  S3_ENDPOINT: ${{ secrets.S3_ENDPOINT || vars.S3_ENDPOINT }}
  S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
  S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
  S3_REGION: ${{ secrets.S3_REGION || vars.S3_REGION }}


jobs:

  export-snapshots:
    name: Export ${{ inputs.stream }}
    runs-on: ubuntu-latest


    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile
        working-directory: historicalEvents

      - run: bun snapshots.ts ${{ inputs.stream }}
        working-directory: historicalEvents
